<html>
    <body>
    <p>Привет {{ username }},</p>
    <p>Пожалуйста, перейди по ссылке, чтобы подтвердить регистрацию</p>
    <p>
        <a href="{{ url }}">Подтвердить регистрацию</a>
    </p>

    <p>Если это не ты, просто проигнорируй это письмо.</p>
    </body>
</html>